{% disable_client_cache %}

<script src="/javascripts/secret_keys.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/css/rhoai_custom.css" />

<header class="jumbotron page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Models as a Service with OpenShift AI</h1>
      </div>
    </div>
  </div>
</header>

{% if current_user %}
  <section class="start">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>API Keys</h1>
      <br>
      <p class="lead">
       Access to the models hosted by this environment requires API keys to authenticate.<br />Those keys allow you to make requests to the models you are interested in.<br />Create an application to get an API Key.
      </p>
    </div>
    <div class="col-md-6" style="padding-top:2em;">
      <div class="panel panel-default" id="access-details">
        <div class="panel-heading">
          <i class="fa fa-key"></i>
          Credentials
          {% if current_account.applications.size > 0 %}
            <a class="pull-right" href="{{ urls.applications }}" title="Applications">
              <i class="fa fa-chevron-right"></i>
            </a>
          {% endif %}
        </div>
        <div class="panel-body panel-footer">
          {% if current_account.applications.size == 0 %}
            <a href="{{ urls.new_application }}" class="btn btn-primary">Create an Application</a>
          {% elsif current_account.applications.size => 1 %}
            <a href="{{ urls.applications }}" class="btn btn-primary">See your Applications & their credentials</a>
          {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
  </section>

{% else %}

  <section class="sell">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Register</h3>
          <p>
          <i class="fa fa-sign-in fa-3x pull-left"></i>
          Register to the developer portal to use the APIs
          </p>
        </div>
        <div class="col-md-4">
          <h3>Get your API key</h3>
          <p>
          <i class="fa fa-key fa-3x pull-left"></i>
          Use your API key to authenticate and get reports on the calls you make
          </p>
        </div>
       <div class="col-md-4">
        <h3>Create your app</h3>
         <p>
         <i class="fa fa-code fa-3x pull-left"></i>
         Start coding and create awesome applications with our APIs
         </p>
        </div>
       </div>
      </div>
  </section>
{% endif %}
  
